body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.left-column,
.right-column {
    width: 45%;
}

.akuma-form {
    padding: 10px;
    border: 2px dashed;
}

.akuma-list {
    margin: 20px;
}

.akuma-card {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
}

.akuma-type {
    font-weight: bold;
}

.random-button {
    margin-top: 20px;
}

.import-data {
    margin: 20px;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: contain;
}